Package: com.monkey.antiantidebug
Name: AntiAntiDebug
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Anti Anti Debug Tweak!
Maintainer: AloneMonkey
Author: AloneMonkey
Section: Tweaks
